.containerHome {
    width: 100%;
    height: 100%;
 
    .success-template {
        padding: 40px 15px;text-align: center;
    }
    .success-actions {
        margin-top:15px;margin-bottom:15px;
    }
    .success-actions .btn { 
        margin-right:10px; 
    }
}